@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lr9d37');
  src:  url('fonts/icomoon.eot?lr9d37#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lr9d37') format('truetype'),
    url('fonts/icomoon.woff?lr9d37') format('woff'),
    url('fonts/icomoon.svg?lr9d37#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-phone:before {
  content: "\e900";
}
.icon-icon-close:before {
  content: "\e901";
}
.icon-icon-facebook:before {
  content: "\e902";
}
.icon-icon-instagram:before {
  content: "\e903";
}
.icon-icon-location:before {
  content: "\e904";
}
.icon-icon-mail:before {
  content: "\e905";
}
.icon-icon-menu:before {
  content: "\e906";
}
.icon-icon-whatsapp:before {
  content: "\e907";
}
.icon-icon-maintenance:before {
  content: "\e908";
}
.icon-icon-sawing:before {
  content: "\e909";
}
.icon-icon-woodwork:before {
  content: "\e90a";
}
.icon-icon-arrow-up:before {
  content: "\e90b";
}
